/**
 * Applied on the front end and in the editor.
 */

.dmg-read-more {
	margin: 1.5em 0;
	font-weight: 600;
}

.dmg-read-more a {
	color: inherit;
	text-decoration: underline;
	text-underline-offset: 0.2em;
}
